
/*********************************************
NAV BAR

***********************************************/
.nav-bar-text {
    font-family: 'Kaushan Script', cursive;
}

.nav-button {
    color: blue;
    border: none;
}

.nav-button:hover {
    border: solid blue;
}

.nav-list {
    list-style-type: none;
}



/*********************************************
INDEX AND MAIN

***********************************************/
.display-4 {
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
    color: rgba(251, 241, 241, 0.972);
}

.bg-image {
    background: url(../img/blue-sea-anemone.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;

}

.button-trio {
    padding-top: 15em;
}





