
.bg-image {
    background: url(../img/blue-sea-anemone.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;

}

.button-trio {
    padding-top: 15em;
}

.main-button{

}







