
.bg-image {
    background: url(../img/blue-sea-anemone.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;

}

.button-trio {
    padding-top: 15em;
}

.nav-button{
    color: blue;
    border: 1px solid blue;
}

.display-4{
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
}







