

/*********************************************
GLOBAL SETTINGS

***********************************************/
body {
    padding-bottom: 40px;
    background-image: linear-gradient(#1fb2de,#8cdceb);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.search_bar {
    padding-bottom: 5px;
}

/*
Loading spinner courtesy of https://loading.io/css
*/
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  #load_spinner {
      padding-top: 3vh;
      transform: scale(1.5, 1.5);
  }
/*********************************************
NAV BAR

***********************************************/
.nav-bar-text {
    font-family: 'Kaushan Script', cursive;
}

.nav-button {
    color: blue;
    border: none;
}

.nav-button:hover {
    border: solid blue;
}

.nav-list {
    list-style-type: none;
}



/*********************************************
INDEX AND MAIN

***********************************************/
.display-4 {
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
    color: rgba(251, 241, 241, 0.972);
}

.bg-image {
    background: url(../img/blue-sea-anemone.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    opacity: 0.95;

}

.lead {
    color: black;

}

.index_card {
    max-width: 40vw;
    background-color: rgba(250, 235, 215, 0.764);
}

.index_button {
    background-color: #6996b3;
}

#index_body {
    background-image: linear-gradient(#004c6d,#6996b3);
}

#coral_blurb_img {
    border-radius: 10px;
}

.button-trio {
    padding-top: 35vh;
}

.main-button {
    background-color: #6996b3;
}

/*********************************************
ACCOUNTS

***********************************************/
.profile_picture {
    width: 35%;
}

.general_container {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #E0EEEE;
    box-shadow: 5px 5px 5px grey;
}

/*********************************************
Buy and Listing

***********************************************/

.resultImg {

    width: 10%;
    height: 10;
}
.listImg {

    height: 30vh;
    width: 40vh;
}

#individual_listing_container {
    margin-bottom: 10px;
    background-color: #E0EEEE;
    box-shadow: 5px 5px 5px grey;
}

/*********************************************
My Listings

***********************************************/
.card_img {
    width: 10em;
    height: 10em;
}

.my_listings_button {
    margin-right: 25px;
}

/*********************************************
Buy.HTML

***********************************************/

.listing_row {
    
    margin-bottom: 10px;
    background-color: #E0EEEE;
    box-shadow: 5px 5px 5px grey;
}

.listing_subtext {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
}


/*********************************************
Listing.html

***********************************************/

.inline_listing_text {  
    margin-top: 0px;
    margin-bottom: 0px;
}

/*********************************************
Sell.html

***********************************************/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.sell_form_container {
    background-color: #E0EEEE;
    padding-top: 5px;
}

